<?xml version="1.0"?>
<ruleset name="Project Rules">
    <description>Project PHP CodeSniffer configuration.</description>
    <file>src</file>
    <file>tests</file>
    <arg name="colors"/>
    <arg value="sp"/>
    <rule ref="PSR12"/>
</ruleset>
